<template name="invited">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Invited</h3>
    </div>
    <div class="panel-body">
        <select  name="userToInvite" id="userToInvite">
          {{#each userList}}
          {{#if profile.firstName}}
            <option value="{{_id}}">{{profile.firstName}} {{profile.lastName}}</option>
            {{/if}}
          {{/each}}
        </select>
        <i class="fa fa-plus inviteUser"></i>
        <hr/>
        <table class="table table-hover table-striped">
          {{#each invited}}
          <tr><td width="250px">{{#if profile.firstName}} {{profile.firstName}} {{profile.lastName}}{{else}}{{username}}{{/if}}</td>
            <td>{{#if isowner ..}} <i class="fa fa-trash removeUser"></i>{{/if}}</td>
          </tr>
          {{/each}}
        </table>

    </div>

  </div>
</template>
