<template name="sidebar">
  {{#if currentUser}}
  <div class="col-md-2 hidden-xs hidden-sm">
    <ul class="nav nav-sidebar">
      <li><a href="{{pathFor 'dashboard'}}"><i class="fa fa-gear"></i> Dashboard</a></li>
      <li><a href="{{pathFor 'customers'}}"><i class="fa fa-university"></i> Customers</a></li>
      <li><a href="{{pathFor 'archives'}}"><i class="fa fa-database"></i> Archives</a></li>
      <li><a href="{{pathFor 'roles'}}"><i class="fa fa-users"></i> Roles</a></li>
    </ul>
    {{>chats}}
  </div>
  {{/if}}
</template>
