<template name="delconfirm">
  <div class="modal fade in show" id="delConfirmDlg" tabindex="-1" role="dialog" aria-labelledby="test" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close cancelDelete" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="removeproject">Remove Project</h4>
        </div>
        <div class="modal-body">
          <h4>This will remove this project, and any linked records.</h4>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default cancelDelete" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary deleteConfirmed">Ok</button>
        </div>
      </div>
    </div>
  </div>
</template>
